<div class="container">
  <div class="p-5 text-center">
    <h2 class="section-title">My Bookings</h2>
    <p class="section-lead">Check all your Booking History</p>
  </div>

  <div class="row" *ngIf="bookingData?.data.length > 0">
    <div class="col">
      <div class="card mt-2" *ngFor="let booking of bookingData.data">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h4>Booking Ref: {{ booking.bookingId }}</h4>
          <div class="card-header-action">
            <button
              class="btn btn-primary float-right"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#ref' + booking.bookingId"
              aria-expanded="false"
            >
              Details
            </button>
          </div>
        </div>
        <div class="collapse" [attr.id]="'ref' + booking.bookingId">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Booking Reference</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ booking.bookingId }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Parking Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ booking.parking.parkingName }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Location Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                  {{ booking.parking.location.locationName }}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Facilities</p>
              </div>
              <div class="col-sm-9">
                <ng-container
                  *ngFor="let facility of booking.parking.facilities"
                >
                  <p class="text-muted mb-0">
                    {{ facility.facilityName }}
                  </p>
                </ng-container>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Start Time</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ booking.startTime  | date : 'EEEE, MMMM d, h:mm:ss a'}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">End Time</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ booking.endTime | date : 'EEEE, MMMM d, h:mm:ss a'}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Status</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ booking.bookingStatus }}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Map</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><a href="{{ booking.mapLink }}" target="_blank">Google Map</a></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Booking Date</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ booking.createdAt | date : 'EEEE, MMMM d, h:mm:ss a'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
