<div class="container">
    <div class="container">
      <div class="row py-md-2 align-items-centerr">
        <div class="col-12 text-center">
          <h3 class="display-5 mb-4 font-weight-bold text-black mt-5">
            Best Rates for Parking
          </h3>
        </div>
      </div>
    </div>
  
    <form [formGroup]="searchForm" (ngSubmit)="searchParking()">
      <div class="flex-container space-evenly">
        <div class="flex-item" *ngIf="locationData">
          <select
            name="Location"
            class="form-control"
            formControlName="locationId"
          >
            <option value="" selected disabled>Location</option>
            <option
              [value]="location.locationId"
              *ngFor="let location of locationData.data"
            >
              {{ location.locationName }}
            </option>
          </select>
        </div>
        <div class="input-group flex-item">
          <input
            formControlName="startTime"
            class="form-control"
            placeholder="Start date"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
            [minDate]="inMinDate"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
        <div
          class="flex-item"
          [ngClass]="isParkingStartTimedisabled() ? 'disabled--item' : ''"
        >
          <select
            formControlName="parkingStartTime"
            aria-label="Pick-Up Time Selector"
            class="form-control required"
            style="
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              min-height: 38px;
            "
          >
            <option value="" selected disabled>In time</option>
            <option [value]="time" *ngFor="let time of inTime">
              {{ time }}
            </option>
          </select>
        </div>
        <div
          class="input-group flex-item"
          [ngClass]="isParkingEndDateDisabled() ? 'disabled--item' : ''"
        >
          <input
            formControlName="endTime"
            class="form-control"
            placeholder="End Date"
            name="dp1"
            ngbDatepicker
            #d1="ngbDatepicker"
            [minDate]="outMinDate"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d1.toggle()"
            type="button"
          ></button>
        </div>
        <div
          class="flex-item"
          [ngClass]="isParkingEndTimeDisabled() ? 'disabled--item' : ''"
        >
          <select
            formControlName="parkingEndTime"
            aria-label="Pick-Up Time Selector"
            class="form-control required"
            style="
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              min-height: 38px;
            "
          >
            <option value="" selected disabled>Out time</option>
            <option [value]="time" *ngFor="let time of outTime">
              {{ time }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex-container search-button">
        <button
          style="width: 250px"
          type="submit"
          [disabled]="!searchForm.valid"
          class="btn btn-primary"
        >
          Search
        </button>
  
        <!-- <button
          style="width: 250px; margin-left: 20px"
          type="reset"
          class="btn btn-primary"
        >
          Cancel
        </button> -->
      </div>
    </form>
  </div>
  
  <ng-container *ngIf="noRecordFound">
    <div class="flex-container no-parking">
      <h2>No Parking Available!!</h2>
    </div>
  </ng-container>
  