<div class="container d-flex justify-content-center mt-5 mb-5">
  <div class="row g-3">
    <div class="col-md-6">
      <div class="card-header p-0">
        <h2 class="mb-0">
          <button class="btn btn-light btn-block text-left p-3 rounded-0">
            1 | Guest Information 
          </button>
        </h2>
      </div>

      <div class="col-lg-8" *ngIf="!isUserLoggedIn">
        <div class="card mb-4">
          <div class="card-body login-detail">
            <div class="row">
              <div class="col d-flex align-items-center justify-content-center">
                <p class="mb-0">
                  Have an account already?
                  <a routerLink="#" (click)="redirectToLogin()">Login </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isUserLoggedIn" class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body user-detail">
            <div class="row">
              <div class="col">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col">
                <p class="text-muted mb-0">{{ profileData?.firstName }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col">
                <p class="text-muted mb-0">{{ profileData?.lastName }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p class="mb-0">Email</p>
              </div>
              <div class="col">
                <p class="text-muted mb-0">{{ profileData?.email }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col">
                <p class="text-muted mb-0">{{ profileData?.phone }}</p>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-header p-0">
        <h2 class="mb-0">
          <button class="btn btn-light btn-block text-left p-3 rounded-0">
            3 | Rate Summary
          </button>
        </h2>
      </div>

      <div class="card">
        <div class="d-flex justify-content-between p-3">
          <div class="d-flex flex-column">
            <span>Rate(Billed Once) <i class="fa fa-caret-down"></i></span>
            <a href="#" class="billing">Save 20% with prime membership</a>
          </div>

          <div class="mt-1">
            <sup class="super-price">$ {{ selectedParking.hourlyPrice }}</sup>
            <span class="super-month">/hour</span>
          </div>
        </div>

        <hr class="mt-0 line" />
        <div class="d-flex justify-content-between p-3">
        <div>
          <div class="row">
            <div class="d-flex flex-column col">
              <span>Location</span>
            </div>
            <div class="d-flex flex-column col">
              <span>{{ locationName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="d-flex flex-column col">
              <span>Parking Name</span>
            </div>
            <div class="d-flex flex-column col">
              <span>{{ selectedParking.parkingName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="d-flex flex-column col">
              <span>Arrival</span>
            </div>
            <div class="d-flex flex-column col">
              <span>{{searchPayload.startTime | date : 'EEEE, MMMM d, h:mm:ss a'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="d-flex flex-column col">
              <span>Depature</span>
            </div>
            <div class="d-flex flex-column col">
              <span>{{searchPayload.endTime | date : 'EEEE, MMMM d, h:mm:ss a' }}</span>
            </div>
          </div>
        </div>
        </div>

        <hr class="mt-0 line" />

        <div class="p-3">
          <div class="d-flex justify-content-between mb-2">
            <span>Refferal Bonouses</span>
            <span>-$0.00</span>
          </div>

          <div class="d-flex justify-content-between">
            <span>Vat <i class="fa fa-clock-o"></i></span>
            <span>-0%</span>
          </div>
        </div>

        <hr class="mt-0 line" />

        <div class="p-3 d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span>Today you pay(US Dollars)</span>
          </div>
          <span>${{ totalCharges }}</span>
        </div>

        <div class="flex-container search-button">
          <button (click)="onBookNowClick()" style="width: 250px" class="btn btn-primary">
            Book Now
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header p-0">
              <h2 class="mb-0">
                <button class="btn btn-light btn-block text-left p-3 rounded-0">
                  <div class="d-flex align-items-center justify-content-between">
                    <span>2 | Card Information</span>
                    <div class="icons">
                      <img src="https://i.imgur.com/2ISgYja.png" width="30" />
                      <img src="https://i.imgur.com/W1vtnOV.png" width="30" />
                      <img src="https://i.imgur.com/35tC99g.png" width="30" />
                      <img src="https://i.imgur.com/2ISgYja.png" width="30" />
                    </div>
                  </div>
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body payment-card-body">
                <span class="font-weight-normal card-text">Card Number</span>
                <div class="input">
                  <i class="fa fa-credit-card"></i>
                  <input type="text" class="form-control" placeholder="0000 0000 0000 0000" />
                </div>

                <div class="row mt-3 mb-3">
                  <div class="col-md-6">
                    <span class="font-weight-normal card-text">Expiry Date</span>
                    <div class="input">
                      <i class="fa fa-calendar"></i>
                      <input type="text" class="form-control" placeholder="MM/YY" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <span class="font-weight-normal card-text">CVC/CVV</span>
                    <div class="input">
                      <i class="fa fa-lock"></i>
                      <input type="text" class="form-control" placeholder="000" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>